<div class="container">
  <header class="header">
    <p class="header-text">USD: {{totalUsd}}</p>
    <p class="header-text">EURO: {{totalEur}}</p>
  </header>

  <main class="currency-container">
    <h1 class="currency-title">Currency Converter</h1>
      <div class="currency-main">
        <div class="currency-input">
          <label for="amount">Amount</label>
            <br>
          <input id="amount" type="number" [(ngModel)]="amount" />
        </div>
        <div class="currency-select">
          <div class="select-wrapper">
            <div class="currency-label">From</div>
            <select name="currencyFrom" id="currencyFrom" #from>
              <option
                *ngFor="let c of fromCurrency"
                [value]="c"
                [selected]="c == 'UAH'"
              >
                {{c}}
              </option>
            </select>
          </div>
          <div>
            <div class="currency-label">To</div>
            <select name="currencyTo" id="currencyTo" #to>
              <option
                *ngFor="let c of toCurrency"
                [value]="c"
                [selected]="c == 'USD'"
              >
                {{c}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <p class="total">{{total}}</p>
      <button (click)="convertCurrency(from.value, to.value)" >Convert</button>
    </main>
</div>

